#content pre.exception_message, pre.exception_trace {
	border: 1px dashed gray;
	padding: 1em;
	margin-bottom: 1em;
}

#content pre.exception_message {
	background: #F6CECE;
	font-weight: bold;
}

#content pre.exception_trace {
	background: #BCF5A9;
}
