/* Generic */
body {
	font-size: 0.8em;
	color:#222222;
	font-family: "Nimbus Sans L", Helvetica;
}
a {
	text-decoration:none;
	color: #4479ac;
}
a:hover {
	text-decoration:none;
	color: #6CC7DC;
}
#content ul {
	list-style-image: url('../../../App/img/list.png');
	margin-bottom: 1em;
}
#content ul > li {
	margin-left: 20px;
}

#content {
	padding: 10px;
}

/* Heading's */
h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
	letter-spacing: -1px;
	margin-bottom: 10px;
}
